* {
    font-family: arial, sans-serif;
    color: #555;
}

body {
    margin: 0;
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

nav {
    padding: 0 20px;
    font-size: 10pt;
    
}

nav ul {
    padding: 0;
}

nav li {
    display: inline;
    list-style: none;
    padding: 0px 4px;
}

nav a {
    padding: 4px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

input[type="submit"] {
    background-color: #f5f5f5;
    border: none;
    border-radius: 4px;
    margin: 4px;
    padding: 8px;
}


input[type="submit"]:hover {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px #ddd;
    border: 1px solid #bbb;
    cursor: pointer;
    margin: 3px;
    color: #111;
}

input[type="submit"]:focus {
    border-color: #266edb;
}

header {
    display: block;
    height: 60px;
}

main {
    margin: 175px;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #f5f5f5;
}

footer li {
    color: #808080;
    font-size: 14px;
    padding: 0px 12px;
}

#apps-icon {
    position: relative;
    top: 6px;
    color: #707070;
}

#apps-icon:hover {
    color: #111;
}

#sign-in {
    color: #DDD;
    background-color: #266edb;
    border: none;
    border-radius: 2px;
    padding: 6px 12px;
    font-size: 9pt;
    font-weight: bold;
}

#sign-in:active {
    background-color: #5390ec;
}

#search-container {
    display: inline-block;
    position: relative;
    width: 480px;
    margin: 30px 0px;
}

input[type="search"]:hover {
    filter: drop-shadow(1px 2px 2px #ddd);
}

input[type="search"] {
    width: 100%;
    height: 45px;
    border-radius: 25px;
    box-shadow: none;
    border: 1px solid #DDD;
    padding: 0 50px;
}

#search-icon {
    position: absolute;
    left: 14px;
    top: 11px;
    scale: 0.9;
    color: #AAA;
}

input[type="reset"] {
    position: absolute;
    right: 12px;
    top: 7px;
    margin: 0;
    padding: 6px;
    border: none;
    background-color: white;
    font-family: monospace;
    font-size: 12pt;
}

input[type="reset"]:hover {
    cursor: pointer;
}
